<a href="https://colab.research.google.com/github/Jonathan-Gilbert/deep-learning-challenge/blob/main/deep_learning_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

# Check the dataframe to confirm the columns have been dropped
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()

unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# Check the value counts for 'APPLICATION_TYPE'
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Set a threshold for the minimum count (e.g., if the category appears less than 100 times)
threshold = 100

# Replace less frequent categories with 'Other'
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(
    lambda x: x if application_type_counts[x] >= threshold else 'Other'
)

# Check the updated value counts for 'APPLICATION_TYPE'
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < threshold].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Set a threshold for the minimum count (e.g., if the category appears less than 100 times)
threshold = 100

# Create a list of classification types to be replaced (those with counts less than the threshold)
classification_types_to_replace = classification_counts[classification_counts < threshold].index.tolist()

# Replace the less frequent classification types with "Other"
for classification in classification_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classification, "Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter to get classification types that appear more than once
classification_more_than_one = classification_counts[classification_counts > 1]

# Display the result
classification_more_than_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# set threshold
threshold = 100

# Create a list of classification types to be replaced (those with counts less than the threshold)
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < threshold].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)

# Check the first few rows of the encoded dataframe
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [12]:
# Split our preprocessed data into our features and target arrays
# Define the target column (dependent variable)
target_column = 'IS_SUCCESSFUL'

# Split the preprocessed data into a training and testing dataset
X = application_df_encoded.drop(columns=[target_column])  # Features
y = application_df_encoded[target_column]  # Target

# Split the data into training and testing datasets (e.g., 80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shapes of the split datasets
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((27439, 50), (6860, 50), (27439,), (6860,))

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=128, input_dim=X_train_scaled.shape[1], activation='relu'))

# Second hidden layer
nn.add(Dense(units=64, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 128)                            6,528

 dense_1 (Dense)                       (None, 64)                             8,256

 dense_2 (Dense)                       (None, 1)                                 65

 Total params: 14,849 (58.00 KB)

 Trainable params: 14,849 (58.00 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE

WARNING:tensorflow:From Z:\Travis\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [17]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_data=(X_test_scaled, y_test))

Epoch 1/100
858/858  10s 9ms/step - accuracy: 0.7086 - loss: 0.5825 - val_accuracy: 0.7264 - val_loss: 0.5586
Epoch 2/100
858/858  4s 5ms/step - accuracy: 0.7300 - loss: 0.5515 - val_accuracy: 0.7245 - val_loss: 0.5591
Epoch 3/100
858/858  3s 3ms/step - accuracy: 0.7260 - loss: 0.5509 - val_accuracy: 0.7262 - val_loss: 0.5557
Epoch 4/100
858/858  4s 5ms/step - accuracy: 0.7292 - loss: 0.5487 - val_accuracy: 0.7277 - val_loss: 0.5550
Epoch 5/100
858/858  3s 4ms/step - accuracy: 0.7376 - loss: 0.5412 - val_accuracy: 0.7274 - val_loss: 0.5554
Epoch 6/100
858/858  3s 3ms/step - accuracy: 0.7288 - loss: 0.5473 - val_accuracy: 0.7284 - val_loss: 0.5575
Epoch 7/100
858/858  5s 4ms/step - accuracy: 0.7349 - loss: 0.5433 - val_accuracy: 0.7293 - val_loss: 0.5528
Epoch 8/100
858/858  5s 3ms/step - accuracy: 0.7338 - loss: 0.5426 - val_accuracy: 0.7316 - val_loss: 0.5539
Epoch 9/100
858/858  5s 3ms/step - accuracy: 0.7379 - loss: 0.5400 - val_accuracy: 0.7284 - val_loss: 0.5526
Epoch 10/100
858/858  3s 3ms/step - accuracy: 0.7354 - loss: 0.5418 - val_accuracy: 0.7289 - val_loss: 0.5544
Epoch 11/100
858/858  4s 4ms/step - accuracy: 0.7366 - loss: 0.5418 - val_accuracy: 0.7248 - val_loss: 0.5532
Epoch 12/100
858/858  3s 3ms/step - accuracy: 0.7361 - loss: 0.5364 - val_accuracy: 0.7281 - val_loss: 0.5501
Epoch 13/100
858/858  5s 3ms/step - accuracy: 0.7382 - loss: 0.5416 - val_accuracy: 0.7293 - val_loss: 0.5538
Epoch 14/100
858/858  3s 3ms/step - accuracy: 0.7352 - loss: 0.5410 - val_accuracy: 0.7277 - val_loss: 0.5535
Epoch 15/100
858/858  4s 4ms/step - accuracy: 0.7357 - loss: 0.5403 - val_accuracy: 0.7293 - val_loss: 0.5516
Epoch 16/100
858/858  3s 3ms/step - accuracy: 0.7334 - loss: 0.5410 - val_accuracy: 0.7297 - val_loss: 0.5542
Epoch 17/100
858/858  5s 3ms/step - accuracy: 0.7415 - loss: 0.5353 - val_accuracy: 0.7297 - val_loss: 0.5524
Epoch 18/100
858/858  5s 3ms/step - accuracy: 0.7406 - loss: 0.5363 - val_accuracy: 0.7290 - val_loss: 0.5527
Epoch 19/100
858/858  2s 3ms/step - accuracy: 0.7382 - loss: 0.5365 - val_accuracy: 0.7286 - val_loss: 0.5533
Epoch 20/100
858/858  3s 4ms/step - accuracy: 0.7413 - loss: 0.5341 - val_accuracy: 0.7300 - val_loss: 0.5546
Epoch 21/100
858/858  7s 6ms/step - accuracy: 0.7380 - loss: 0.5380 - val_accuracy: 0.7265 - val_loss: 0.5541
Epoch 22/100
858/858  3s 3ms/step - accuracy: 0.7404 - loss: 0.5364 - val_accuracy: 0.7284 - val_loss: 0.5545
Epoch 23/100
858/858  3s 3ms/step - accuracy: 0.7428 - loss: 0.5345 - val_accuracy: 0.7306 - val_loss: 0.5551
Epoch 24/100
858/858  3s 3ms/step - accuracy: 0.7399 - loss: 0.5378 - val_accuracy: 0.7299 - val_loss: 0.5545
Epoch 25/100
858/858  6s 4ms/step - accuracy: 0.7388 - loss: 0.5365 - val_accuracy: 0.7299 - val_loss: 0.5542
Epoch 26/100
858/858  3s 3ms/step - accuracy: 0.7386 - loss: 0.5368 - val_accuracy: 0.7296 - val_loss: 0.5556
Epoch 27/100
858/858  2s 3ms/step - accuracy: 0.7422 - loss: 0.5317 - val_accuracy: 0.7277 - val_loss: 0.5554
Epoch 28/100
858/858  2s 3ms/step - accuracy: 0.7408 - loss: 0.5325 - val_accuracy: 0.7281 - val_loss: 0.5547
Epoch 29/100
858/858  3s 4ms/step - accuracy: 0.7391 - loss: 0.5333 - val_accuracy: 0.7290 - val_loss: 0.5567
Epoch 30/100
858/858  3s 4ms/step - accuracy: 0.7430 - loss: 0.5336 - val_accuracy: 0.7297 - val_loss: 0.5553
Epoch 31/100
858/858  4s 3ms/step - accuracy: 0.7355 - loss: 0.5407 - val_accuracy: 0.7287 - val_loss: 0.5571
Epoch 32/100
858/858  2s 3ms/step - accuracy: 0.7352 - loss: 0.5368 - val_accuracy: 0.7303 - val_loss: 0.5556
Epoch 33/100
858/858  2s 3ms/step - accuracy: 0.7348 - loss: 0.5405 - val_accuracy: 0.7299 - val_loss: 0.5581
Epoch 34/100
858/858  4s 4ms/step - accuracy: 0.7397 - loss: 0.5340 - val_accuracy: 0.7289 - val_loss: 0.5544
Epoch 35/100
858/858  4s 3ms/step - accuracy: 0.7343 - loss: 0.5389 - val_accuracy: 0.7289 - val_loss: 0.5564
Epoch 36/100
858/858  2s 3ms/step - accuracy: 0.7370 - loss: 0.5372 - val_accuracy: 0.7292 - val_loss: 0.5574
Epoch 37/100
858/858  2s 3ms/step - accuracy: 0.7380 - loss: 0.5343 - val_accuracy: 0.7300 - val_loss: 0.5573
Epoch 38/100
858/858  4s 4ms/step - accuracy: 0.7409 - loss: 0.5348 - val_accuracy: 0.7292 - val_loss: 0.5583
Epoch 39/100
858/858  3s 3ms/step - accuracy: 0.7384 - loss: 0.5320 - val_accuracy: 0.7305 - val_loss: 0.5593
Epoch 40/100
858/858  3s 4ms/step - accuracy: 0.7377 - loss: 0.5363 - val_accuracy: 0.7290 - val_loss: 0.5576
Epoch 41/100
858/858  4s 2ms/step - accuracy: 0.7385 - loss: 0.5328 - val_accuracy: 0.7296 - val_loss: 0.5582
Epoch 42/100
858/858  4s 4ms/step - accuracy: 0.7380 - loss: 0.5355 - val_accuracy: 0.7302 - val_loss: 0.5575
Epoch 43/100
858/858  4s 3ms/step - accuracy: 0.7408 - loss: 0.5329 - val_accuracy: 0.7305 - val_loss: 0.5584
Epoch 44/100
858/858  2s 2ms/step - accuracy: 0.7412 - loss: 0.5321 - val_accuracy: 0.7276 - val_loss: 0.5599
Epoch 45/100
858/858  2s 3ms/step - accuracy: 0.7394 - loss: 0.5330 - val_accuracy: 0.7315 - val_loss: 0.5576
Epoch 46/100
858/858  3s 3ms/step - accuracy: 0.7367 - loss: 0.5364 - val_accuracy: 0.7294 - val_loss: 0.5586
Epoch 47/100
858/858  3s 4ms/step - accuracy: 0.7411 - loss: 0.5318 - val_accuracy: 0.7316 - val_loss: 0.5585
Epoch 48/100
858/858  4s 2ms/step - accuracy: 0.7439 - loss: 0.5308 - val_accuracy: 0.7265 - val_loss: 0.5631
Epoch 49/100
858/858  2s 2ms/step - accuracy: 0.7431 - loss: 0.5305 - val_accuracy: 0.7299 - val_loss: 0.5594
Epoch 50/100
858/858  2s 3ms/step - accuracy: 0.7408 - loss: 0.5299 - val_accuracy: 0.7292 - val_loss: 0.5587
Epoch 51/100
858/858  4s 4ms/step - accuracy: 0.7416 - loss: 0.5299 - val_accuracy: 0.7308 - val_loss: 0.5591
Epoch 52/100
858/858  4s 2ms/step - accuracy: 0.7422 - loss: 0.5302 - val_accuracy: 0.7297 - val_loss: 0.5620
Epoch 53/100
858/858  3s 3ms/step - accuracy: 0.7399 - loss: 0.5317 - val_accuracy: 0.7309 - val_loss: 0.5613
Epoch 54/100
858/858  2s 2ms/step - accuracy: 0.7396 - loss: 0.5302 - val_accuracy: 0.7289 - val_loss: 0.5604
Epoch 55/100
858/858  3s 4ms/step - accuracy: 0.7405 - loss: 0.5333 - val_accuracy: 0.7299 - val_loss: 0.5601
Epoch 56/100
858/858  4s 2ms/step - accuracy: 0.7441 - loss: 0.5282 - val_accuracy: 0.7300 - val_loss: 0.5598
Epoch 57/100
858/858  2s 2ms/step - accuracy: 0.7426 - loss: 0.5299 - val_accuracy: 0.7300 - val_loss: 0.5613
Epoch 58/100
858/858  2s 3ms/step - accuracy: 0.7402 - loss: 0.5316 - val_accuracy: 0.7299 - val_loss: 0.5607
Epoch 59/100
858/858  2s 2ms/step - accuracy: 0.7401 - loss: 0.5316 - val_accuracy: 0.7302 - val_loss: 0.5593
Epoch 60/100
858/858  4s 4ms/step - accuracy: 0.7426 - loss: 0.5284 - val_accuracy: 0.7292 - val_loss: 0.5623
Epoch 61/100
858/858  2s 3ms/step - accuracy: 0.7416 - loss: 0.5281 - val_accuracy: 0.7300 - val_loss: 0.5599
Epoch 62/100
858/858  3s 3ms/step - accuracy: 0.7411 - loss: 0.5317 - val_accuracy: 0.7278 - val_loss: 0.5624
Epoch 63/100
858/858  2s 2ms/step - accuracy: 0.7448 - loss: 0.5260 - val_accuracy: 0.7300 - val_loss: 0.5642
Epoch 64/100
858/858  2s 2ms/step - accuracy: 0.7431 - loss: 0.5265 - val_accuracy: 0.7316 - val_loss: 0.5602
Epoch 65/100
858/858  3s 4ms/step - accuracy: 0.7454 - loss: 0.5255 - val_accuracy: 0.7309 - val_loss: 0.5627
Epoch 66/100
858/858  4s 3ms/step - accuracy: 0.7409 - loss: 0.5281 - val_accuracy: 0.7302 - val_loss: 0.5622
Epoch 67/100
858/858  3s 3ms/step - accuracy: 0.7426 - loss: 0.5267 - val_accuracy: 0.7293 - val_loss: 0.5635
Epoch 68/100
858/858  2s 3ms/step - accuracy: 0.7417 - loss: 0.5260 - val_accuracy: 0.7294 - val_loss: 0.5626
Epoch 69/100
858/858  3s 3ms/step - accuracy: 0.7364 - loss: 0.5357 - val_accuracy: 0.7303 - val_loss: 0.5656
Epoch 70/100
858/858  3s 4ms/step - accuracy: 0.7419 - loss: 0.5277 - val_accuracy: 0.7310 - val_loss: 0.5647
Epoch 71/100
858/858  2s 2ms/step - accuracy: 0.7398 - loss: 0.5325 - val_accuracy: 0.7292 - val_loss: 0.5642
Epoch 72/100
858/858  2s 2ms/step - accuracy: 0.7379 - loss: 0.5327 - val_accuracy: 0.7299 - val_loss: 0.5689
Epoch 73/100
858/858  3s 3ms/step - accuracy: 0.7383 - loss: 0.5316 - val_accuracy: 0.7300 - val_loss: 0.5686
Epoch 74/100
858/858  2s 3ms/step - accuracy: 0.7386 - loss: 0.5321 - val_accuracy: 0.7319 - val_loss: 0.5675
Epoch 75/100
858/858  4s 4ms/step - accuracy: 0.7416 - loss: 0.5283 - val_accuracy: 0.7300 - val_loss: 0.5654
Epoch 76/100
858/858  4s 3ms/step - accuracy: 0.7391 - loss: 0.5306 - val_accuracy: 0.7294 - val_loss: 0.5720
Epoch 77/100
858/858  2s 3ms/step - accuracy: 0.7436 - loss: 0.5319 - val_accuracy: 0.7294 - val_loss: 0.5682
Epoch 78/100
858/858  3s 3ms/step - accuracy: 0.7434 - loss: 0.5299 - val_accuracy: 0.7296 - val_loss: 0.5692
Epoch 79/100
858/858  5s 3ms/step - accuracy: 0.7405 - loss: 0.5307 - val_accuracy: 0.7299 - val_loss: 0.5674
Epoch 80/100
858/858  3s 3ms/step - accuracy: 0.7420 - loss: 0.5305 - val_accuracy: 0.7293 - val_loss: 0.5695
Epoch 81/100
858/858  2s 3ms/step - accuracy: 0.7389 - loss: 0.5280 - val_accuracy: 0.7281 - val_loss: 0.5711
Epoch 82/100
858/858  2s 3ms/step - accuracy: 0.7430 - loss: 0.5274 - val_accuracy: 0.7309 - val_loss: 0.5705
Epoch 83/100
858/858  4s 4ms/step - accuracy: 0.7445 - loss: 0.5274 - val_accuracy: 0.7302 - val_loss: 0.5701
Epoch 84/100
858/858  2s 3ms/step - accuracy: 0.7376 - loss: 0.5316 - val_accuracy: 0.7310 - val_loss: 0.5707
Epoch 85/100
858/858  2s 3ms/step - accuracy: 0.7391 - loss: 0.5324 - val_accuracy: 0.7312 - val_loss: 0.5694
Epoch 86/100
858/858  3s 3ms/step - accuracy: 0.7436 - loss: 0.5291 - val_accuracy: 0.7306 - val_loss: 0.5713
Epoch 87/100
858/858  3s 3ms/step - accuracy: 0.7410 - loss: 0.5291 - val_accuracy: 0.7303 - val_loss: 0.5737
Epoch 88/100
858/858  3s 4ms/step - accuracy: 0.7399 - loss: 0.5321 - val_accuracy: 0.7306 - val_loss: 0.5751
Epoch 89/100
858/858  4s 3ms/step - accuracy: 0.7428 - loss: 0.5289 - val_accuracy: 0.7299 - val_loss: 0.5745
Epoch 90/100
858/858  2s 2ms/step - accuracy: 0.7383 - loss: 0.5336 - val_accuracy: 0.7297 - val_loss: 0.5765
Epoch 91/100
858/858  2s 3ms/step - accuracy: 0.7412 - loss: 0.5292 - val_accuracy: 0.7309 - val_loss: 0.5771
Epoch 92/100
858/858  3s 3ms/step - accuracy: 0.7412 - loss: 0.5291 - val_accuracy: 0.7294 - val_loss: 0.5712
Epoch 93/100
858/858  5s 3ms/step - accuracy: 0.7454 - loss: 0.5274 - val_accuracy: 0.7303 - val_loss: 0.5729
Epoch 94/100
858/858  3s 3ms/step - accuracy: 0.7397 - loss: 0.5330 - val_accuracy: 0.7319 - val_loss: 0.5751
Epoch 95/100
858/858  2s 3ms/step - accuracy: 0.7390 - loss: 0.5296 - val_accuracy: 0.7299 - val_loss: 0.5777
Epoch 96/100
858/858  3s 4ms/step - accuracy: 0.7442 - loss: 0.5254 - val_accuracy: 0.7302 - val_loss: 0.5754
Epoch 97/100
858/858  3s 4ms/step - accuracy: 0.7412 - loss: 0.5269 - val_accuracy: 0.7308 - val_loss: 0.5731
Epoch 98/100
858/858  2s 3ms/step - accuracy: 0.7393 - loss: 0.5303 - val_accuracy: 0.7312 - val_loss: 0.5753
Epoch 99/100
858/858  3s 3ms/step - accuracy: 0.7414 - loss: 0.5296 - val_accuracy: 0.7299 - val_loss: 0.5850
Epoch 100/100
858/858  2s 2ms/step - accuracy: 0.7412 - loss: 0.5288 - val_accuracy: 0.7309 - val_loss: 0.5733

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7309 - loss: 0.5733
Loss: 0.5733438730239868, Accuracy: 0.7309038043022156

In [19]:
# Export our model to HDF5 file
nn.save("charity_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.